.text-code {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
    font-size: 0.8em;
    max-width: 100%;
}

article {
    white-space: pre-wrap;
    margin-top: 0px;
}